---
---
<!--<script src="assets/js/rpwa.js"></script>
<script src="assets/js/pwa-v1.0.js"></script>-->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/makeCodeCollapsible.js"></script>
<script src="/assets/js/lightbox.js"></script>
<script src="/assets/js/chromacheck-min.js"></script>
{%comment%}
<script>
    (function(){
        var month = new Date().getMonth();
        if(month==5){ //June
            var elems = document.querySelectorAll(".gilbert");
            for(var i=0;i<elems.length;++i){
                console.log(elems[i]);
               elems[i].classList.replace("gilbert","gilbert-on");

            };
        }
        })();
</script>
{%endcomment%}